body {
  width: 900px;
  margin: auto;
}
h1 {
  text-align: center;
}

@media screen and (max-device-width: 500px) {
/* pour les mobiles */
  body {
    width: 100%;
  }
  .content {
    display: flex;
    flex-direction: column-reverse;
  }
}

@media screen and (min-width: 900px) {

  aside {
    width: 35%;
    height: 1139px; /*** <--- a arranger ***/
  }
  aside > img {
    border: 5px solid black;
    margin-bottom: 50px;
  }

  #hr {
    border: 1px solid grey;
    width: 100%;
    margin: 50px 0;
  }

  section {
    width: 56%;
    float: right;
  }

}


  /************* Aside *****************/
aside {
  padding: 0 20px;
  background-color: #41c476;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

aside > img {
  width: 200px;
  border-radius: 100px / 120px;
}

aside h2 {
  text-transform: uppercase;
  font-family: sans-serif;
  margin: 20px 0 0 0;
}
aside h2 div {
  width: 100%;
  font-weight: bolder;
  text-align: center;
}
aside h3:first-of-type {
  margin: 0 0 20px 0;
  text-align: center;
}
aside h3:nth-of-type(1) {
  font-variant: small-caps;
  color: white;
}

aside ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
aside ul:nth-of-type(1) abbr {
  font-weight: bolder;
  margin-right: 5px;
}
aside ul:nth-of-type(1) li {
  display: flex;
  flex-direction: row;
  margin: 15px 0;
}
aside ul:nth-of-type(1) li p {
  margin: 0 0 0 15px;
  padding: 0;
}

aside h3 div {
  display: inline-block;
  border: 2px solid black;
  border-radius: 50px;
  width: 25px;
  height: 25px;
  margin-right: 15px;
  text-align: center;
}

aside p {
  text-align: justify;
}

aside ul:nth-of-type(2) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
aside ul:nth-of-type(2) li {
  list-style: none;
  margin: 5px 0;
  padding: 0;
  width: 40%;
}
aside li img {
  vertical-align: middle;
  width: 15px;
}

/**************************************/


/*************** Section **************/
section {
  background-color: #f3f3f3;
  padding: 0 20px;
}

article h2 img {
  width: 15px;
  border-radius: 25px;
  border: 2px solid black;
  padding: 5px;
  margin: 0 20px 0 5px;
  vertical-align: bottom;
}

article ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
article li {
  display: flex;
  flex-direction: row;
}
article p {
  margin: 0 0 15px 0;
  padding: 0;
  font-weight: bold;
}
article:nth-of-type(-n+2) li > p:nth-child(odd) {
  font-weight: bold;
  flex: 1;
}
article:nth-of-type(-n+2) li p:nth-child(even) {
  color: #41c476;
  flex: 2;
}
article:nth-of-type(-n+2) li dfn, section li cite {
  color: black;
  font-weight: normal;
}

article:last-of-type p, progress {
  flex: 1;
}

progress{
    display: inline-block;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
    width: 300px;
    height: 20px;
    padding: 3px 3px 2px 3px;
    background: #333;
    background: -webkit-linear-gradient(#2d2d2d,#444);
    background:    -moz-linear-gradient(#2d2d2d,#444);
    background:      -o-linear-gradient(#2d2d2d,#444);
    background:         linear-gradient(#2d2d2d,#444);
    border: 1px solid rgba(0,0,0,.5);
    border-radius: 15px;
    box-shadow: 0 1px 0 rgba(255,255,255,.2);
}
/* Style de la barre pour Firefox*/
progress::-moz-progress-bar{
    border-radius:10px;
    background: #09c;
    background:
      -moz-repeating-linear-gradient(
        45deg,
        rgba(255,255,255,.2) 0,
        rgba(255,255,255,.2) 10px,
        rgba(255,255,255,0) 10px,
        rgba(255,255,255,0) 20px
      ),
      -moz-linear-gradient(
        rgba(255,255,255,.1) 50%,
        rgba(255,255,255,0) 60%
      ),
      #09c;
    background:
      repeating-linear-gradient(
        45deg,
        rgba(255,255,255,.2) 0,
        rgba(255,255,255,.2) 10px,
        rgba(255,255,255,0) 10px,
        rgba(255,255,255,0) 20px
      ),
      linear-gradient(
        rgba(255,255,255,.1) 50%,
        rgba(255,255,255,0) 60%
      ),
      #09c;
    background-size: 300px 20px, auto, auto;
    background-position: -300px 0, top, top;
    background-position: top right, top, top;
    box-shadow: 0 1px 0 rgba(255,255,255,.5) inset,
                0 -1px 0 rgba(0,0,0,.8) inset,
                0 0 2px black;
}
/* Style de la barre pour Chrome*/
progress::-webkit-progress-value{
    border-radius:10px;
    background: #09c;
    background:
      -webkit-repeating-linear-gradient(
        45deg,
        rgba(255,255,255,.2) 0,
        rgba(255,255,255,.2) 10px,
        rgba(255,255,255,0) 10px,
        rgba(255,255,255,0) 20px
      ),
      -webkit-linear-gradient(
        rgba(255,255,255,.1) 50%,
        rgba(255,255,255,0) 60%
      ),
      #09c;
    background:
      repeating-linear-gradient(
        45deg,
        rgba(255,255,255,.2) 0,
        rgba(255,255,255,.2) 10px,
        rgba(255,255,255,0) 10px,
        rgba(255,255,255,0) 20px
      ),
      linear-gradient(
        rgba(255,255,255,.1) 50%,
        rgba(255,255,255,0) 60%
      ),
      #09c;
    background-size: 300px 20px, auto, auto;
    background-position: -300px 0, top, top;
    background-position: top right, top, top;
    box-shadow: 0 1px 0 rgba(255,255,255,.5) inset,
                0 -1px 0 rgba(0,0,0,.8) inset,
                0 0 2px black;
}
/* Enlève la couleur d'arrière-plan */
progress::-webkit-progress-bar{
    background: transparent;
}
